*{
    box-sizing: border-box;
    text-align: center;
    color:white;
    font-size:1em;
}

html {
    font-family: AppleMyungjo, sans-serif;
}

body {
    margin:0;
    background-image: linear-gradient(to bottom, #302153, #5b286d, #8c2880, #c12088, #f60d87);
}

h1{
    font-size:2em;
}
.container {
    width:100vw;
    display: flex;
    justify-content: center;
}

.myIngredients {
    text-align: center;
    width:100%;
    height:100vh;
}

.addRecipe {
    width:100%;
    color:gray;
}

.formWrapper {
    display: flex;
    justify-content: center;
}

.ingredient {
    border:none;
    padding:1em;
    margin:0;
    outline:none;
    color:gray;
    border-radius: 100px 0 0 100px;
    font-family: AppleMyungjo,sans-serif;
}

.enter {
    border: none;
    padding:1em;
    background-color:white;
    color: #00a6ff;
    font-weight: bold;
    border-radius:0 100px 100px 0;
    margin:0;
    outline:0;
    font-family: AppleMyungjo,sans-serif;
}


