*{
    font-family: "Heiti SC", sans-serif;
    font-size:1em;
    box-sizing: border-box;
}

html {
    text-align: center;
    color:white;
}

body {
    background-image: linear-gradient(to bottom, #46376b, #6c3a80, #8b1974, #bb5656, #f60d87);
    height:100vh;
}

#form {
    width:100%;
    display: flex;
    justify-content: center;
}

.mainHeader {
    font-size:3em;
}

.inputWrapper {
    display: flex;
    justify-content: center;
    background-color:white;
    width: border-box;
    position:relative;
    padding:0;
    margin:0;
    border-radius: 50px;
}

.inputWrapper:hover {
}

.input {
    border:none;
    padding:1em 2em;
    outline:none;
    border-radius:50px;
    transition-duration: .4s;
}

.input:hover {
    padding: 1em 3em;
}

.input:focus {
    padding: 1em 3em;
}

#button {
    border:none;
    background-color:white;
    color: #2097ff;
    outline:none;
    border-radius: 0 50px 50px 0;
    padding:1em;
    transition-duration: 0.4s;
}

#button:hover {
    background-color:#2097ff;
    color:white;
    cursor:pointer;
    padding:1em 2em
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#recipePage {
    margin:2em;
    align-self: center;
    background-color: white;
    padding:15px;
    width:border-box;
    height:auto;
    color:gray;
    border-radius: 50px;
    display:flex;
    justify-content: center;
    min-height: 26em;
}

.recipePageLeft {
    height:auto;
    text-align: center;
    padding:0 6em;
    border-right:1px solid lightgray;
}

.recipePageRight {
    height:auto;
    text-align: center;
    padding:0 6em;
}

.pageHeader {
    font-size:1.5em;
    border-bottom:1px solid #2097ff;
}

.deleteButton {
    background-color:white;
    border: none;
    color: #ff7b7b;
    outline:none;
    position: relative;
    right:0;
}

.deleteButton:hover {
    cursor:pointer;
}

.addButton {
    background-color:white;
    border: none;
    color: #2097ff;
    outline:none;
    position: relative;
    right:0;
}

.addButton {
    cursor:pointer;
}

h3 {
    display: flex;
    justify-content: center;
}

.cup {
    width: 15vw;
    height: 250px;
    border: 1px solid lightgray;
    /* needs to be added in dom with
    responsive variable for color selection */
    background: orange;
    border-radius:  0 0 50px 50px;
    position: relative;
    overflow: hidden;
}

.cup::before {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cup::after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: -50%;
    border-radius: 45%;
    height: 175%;
    width: 200%;
    background: white;
    animation: spin 6s ease-in-out infinite;
}

@keyframes spin {
    0%{
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(-100%) rotate(300deg)
        }
}

#submitDrink {
    padding:1em 8em;
    border-radius:100px;
    border:none;
    background-color:white;
    outline:none;
    transition-duration: 0.3s;
}

#submitDrink:hover {
    transform: scale(1.1);
    cursor: pointer;
}